/*
 * This page is meant to style all of the layout for Jonathan Bernal's Website.
 * If you find anything useful and would like to use that as a reference for your
 * design, please give proper credit to myself.
 *
 * Author: Jonathan F. Bernal
*/

html {
    background-color: #297C45;
    font-family: 'Roboto', sans-serif;
}

a{
    color: lightgreen;
}

a:hover{
    color: darkgoldenrod;
    font-size: 110%;
}

h1 {
    margin: 0 auto;
    color: lightgray;
    font-size: 70px;
    text-shadow: 3px 3px 1px black;
}

h3 {
    margin: 0 auto;
    color: #0F5C2E;
}

p {
    text-align: justify;
    font-size: 30px;
    color: white;
    padding: 2px;
    margin: 50px;
    line-height: 2em; /* might be changed during testing on mobile devices */
}

.about {
    margin: 30px 90px;
    font-size: 30px;
    background-color: #4C996B;
}

#about-image {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.project{
    background-color: silver;
    margin: 30px 60px;
    border-style: solid;
    border-color: #4C996B; /* keep this color in mind for the header of the container of the projects section*/
    border-width: 5px;
    border-radius: 10px;
}